<!DOCTYPE html>
<html lang="en">
  <head>
    <title>'site.title'</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    
    <link rel="shortcut icon" href="/assets/images/icon.png">
        
	<base href="/" />

    
<link rel="stylesheet" href="/scripts/styles.d7a60ffc959246652586.css"></head>
  <body>		
    <app-root></app-root>
  <script src="/scripts/runtime-es2015.38fc2fd6c992de9345ce.js" type="module"></script><script src="/scripts/runtime-es5.38fc2fd6c992de9345ce.js" nomodule defer></script><script src="/scripts/polyfills-es5.c59df22727829c9bbe10.js" nomodule defer></script><script src="/scripts/polyfills-es2015.aaa34b7900b04f528a22.js" type="module"></script><script src="/scripts/scripts.2d508aca58c843b62ad6.js" defer></script><script src="/scripts/main-es2015.1664a57624a051b7db9c.js" type="module"></script><script src="/scripts/main-es5.1664a57624a051b7db9c.js" nomodule defer></script></body>
</html>
