<div mwlResizable [enableGhostResize]="true" [resizeEdges]="{ bottom: false, right: false, top: true, left: false }" (resizeEnd)="onResizeEnd($event)" class="message-panel-container" id="message-panel-container" *ngIf="isAppLogged">
	<div class="message-panel-toolbar">
		<span class="title">Meldungen</span>
		<button class="toolbar-button" *ngIf="messagePanelShowed" (click)="closeMessages();"><i class="material-icons">keyboard_arrow_down</i></button>
		<button class="toolbar-button" *ngIf="messagePanelShowed == false" (click)="showMessages();"><i class="material-icons">keyboard_arrow_up</i></button>
		<button class="toolbar-button" *ngIf="messagePanelShowed" (click)="reloadMessages(true);"><i class="material-icons">refresh</i></button>
		<img class="toolbar-image" *ngIf="isReloadingMessages" src="assets/images/loading200.gif" />
	
	</div>
	<div class="message-panel-items-container">
		<div class="message-panel-item" *ngFor="let message of messages;">
			<a href="javascript:void(0);" (click)="showWorkflowView(message.workflowIdentity)">
				<div>{{message.message}} ({{message.workflow.workflowType.title}}) ({{message.createdAtString}}) ({{message.remainingDays}}) ({{message.status}})</div>
			</a>
		</div>
	</div>
					
</div>

<div class="modal fade show" tabindex="-1" *ngIf="viewWorkflow" id="viewworkflowedialog" role="dialog">

	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title dialog-title" id="errorMessagedialogTitle">{{ 'common.view-workflow' | translate }}</h5>
				<button class="dialog-toolbar-button close" (click)="hideViewModal()" aria-label="Close">
					<i class="material-icons">close</i>
				</button>
			</div>
			
		      <div class="modal-body">
		      
				<div class="content-container">
				
					<div class="workflowview-dialog-content-container">
						<div class="item-row">
							<div class="item-row">
								<div class="item-label">{{ 'workflow-title' | translate }}</div>
								<div class="item-content">{{viewWorkflowModel.workflowType.title}}</div>
								<div class="clear"></div>
							</div>
							<div class="item-row">
								<div class="item-label">{{ 'workflow-comments' | translate }}</div>
								<div class="item-content">{{viewWorkflowModel.comments}}</div>	
								<div class="clear"></div>
							</div>
							<div class="item-row">
								<div class="item-label">{{ 'workflow-current-step' | translate }}</div>
								<div class="item-content">
									{{viewWorkflowModel.currentStep.title}}
								</div>
								<div class="clear"></div>
							</div>
							<div class="item-row">
								<div class="item-label">{{ 'workflow-status' | translate }}</div>
								<div class="item-content">
									{{viewWorkflowModel.status}}
								</div>
								<div class="clear"></div>
							</div>
							<div style="padding-top: 10px; padding-left: 10px; border-top: 1px solid gray; margin-top: 10px;">
								<div style="text-align: center; font-weight: bold;">Files</div>
								<div class="item-row" *ngFor="let file of viewWorkflowModel.files;" style="border-bottom: 1px #9a9a9a dashed">
									<div>
										<a href="/workflow/file/view/{{viewWorkflowModel.identity}}/{{file.identity}}" class="workflow-file-view-link" target="_blank">
											<strong>{{file.title}}</strong> (Ver: {{file.activeFileVersion}})
										</a>
										<a href="/workflow/file/download/{{viewWorkflowModel.identity}}/{{file.identity}}" class="workflow-file-view-link" target="_blank">
											<i class="material-icons">save_alt</i>
										</a>
									</div> 
								</div>
							</div>
							<div style="padding-top: 10px; padding-left: 10px; border-top: 1px solid gray; margin-top: 10px;">
								<div style="text-align: center; font-weight: bold;">Actions</div>
								<div class="item-row" *ngFor="let action of viewWorkflowModel.actions;" style="border-bottom: 1px #9a9a9a dashed">
									<div class="item-row">
										<div class="action-content">
											<div><strong>{{action.currentStep.title}}</strong>:</div> 
											<div>({{action.status}}) ({{action.assignToUserName}})</div> 
											<div style="">{{action.action}}</div>
										</div>	
										<div class="clear"></div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					
				
				</div>
	   				
		      </div>
	      <div class="modal-footer">
			<button type="button" class="btn btn-secondary" (click)="hideViewModal()"><i class="material-icons">close</i></button>

			<button type="button" class="btn btn-success"  *ngIf="viewWorkflowModel.notAssigned" (click)="assignWorkflowMe(viewWorkflowModel.identity)"><i class="material-icons">assignment_ind</i></button>

	        <a type="button" class="btn btn-primary" *ngIf="viewWorkflowModel.meAssigned" href="/workflow/edit/{{viewWorkflowModel.identity}}"><i class="material-icons">pageview</i></a>
	      </div>
	    </div>
	  </div>		    


			
</div>

