<div resizable="" r-directions="['top']" class="message-panel-container" id="message-panel-container" *ngIf="isLogged">
	<div class="message-panel-toolbar">
		<span class="title">Meldungen</span>
		<button class="toolbar-button" ng-if="messagePanelShowed" ng-click="closeMessages();"><i class="material-icons">keyboard_arrow_down</i></button>
		<button class="toolbar-button" ng-if="messagePanelShowed == false" ng-click="showMessages();"><i class="material-icons">keyboard_arrow_up</i></button>
		<button class="toolbar-button" ng-if="messagePanelShowed" ng-click="reloadMessages(true);"><i class="material-icons">refresh</i></button>
	
	</div>
	<div class="message-panel-items-container">
		<div class="message-panel-item" *ngFor="let message of messages;">
			<a href="javascript:void(0);" (click)="showWorkflowView(message.workflowId)">
				<div>{{message.message}} ({{message.workflow.workflowType.title}}) ({{message.createdAtString}}) ({{message.remainingDays}}) ({{message.status}})</div>
			</a>
		</div>
	</div>
					
</div>