		<div class="content-container">
			<div class="page-toolbar">
				<div class="page-title">{{ 'workflow-editing' | translate }}</div>
				<a class="toolbar-link" href="/workflow/list"><i class="material-icons">list</i></a>
			</div>
			
			<form id="workflow-form" name="workflowForm" [formGroup]="workflowEditForm">
		
				<div class="workflow-content">
					<div class="item-row" *ngIf="canAssign">
						<div class="item-label">{{ 'workflow-assignto' | translate }}</div>
						<div class="item-content">
							<div class="assign-list" >
								<button class="show-select-dialog" (click)="showAssignSelect()"><i class="material-icons">playlist_add</i></button>
								<span *ngIf="hasNoAssigns">{{ 'workflow-select-assign' | translate }}</span>
								<div class="user-item-box" *ngFor="let item of assignedUsers">
									<span>{{getAssignItemTitle(item)}} </span>
									<button (click)="removeAssign(item.itemIdentity, item.itemType)"><i class="material-icons">close</i></button>
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="item-row">
						<div class="item-label">{{ 'workflow-comments' | translate }}</div>
						<div class="item-content">
							<textarea formControlName="comments"></textarea>
						</div>
						<div class="clear"></div>
					</div>
					<div class="item-row">
						<div class="item-label">{{ 'workflow-files' | translate }}</div>
						<div class="item-content file-container">
							<div *ngFor="let file of fileTitles; let fileIndex = index" class="file-row">
								{{fileIndex + 1}}.
								<input type="text" class="file-item file-title" placeholder="Datei Titel" formControlName="file.title"/>
								<input type="file" class="file-item file-file" (change)="fileTitleProgress($event, file, fileIndex)"/>
								<button class="file-action" (click)="removeFile(fileIndex)"><i class="material-icons">delete</i></button>
								<div class="clear"></div>
							</div>
							<div style="margin-top: 20px;">
								<button class="file-action" (click)="addFile()"><i class="material-icons">add</i></button>
								<div class="clear"></div>
							</div>
							
						</div>
						<div class="clear"></div>
					</div>
					<div class="item-row">
						
						<div class="workflow-step-button-bar">
							<button type="button" (click)="save(false)" *ngIf="canSave" [disabled]="workflowEditForm.invalid" class="button-bar-button step-button button-save">
								<span>{{ 'common.save' | translate }}</span>
								<i class="material-icons">save</i>
							</button>
							<button type="button" (click)="save(true)" *ngIf="canDone" [disabled]="workflowEditForm.invalid" class="button-bar-button step-button button-done">
								<span>{{ 'common.savedone' | translate }}</span>
								<i class="material-icons">save</i>
							</button>
							<button type="button" (click)="archive()" *ngIf="canArchive" [disabled]="workflowEditForm.invalid" class="button-bar-button step-button button-archive">
								<span>{{ 'workflow-archive' | translate }}</span>
								<i class="material-icons">save</i>
							</button>
							<span *ngIf="saveMessage !== ''" class="alert alert-success button-bar-alert">{{saveMessage}}</span>
							<div class="clear"></div>
						</div>
						
					</div>
					        				
					<div class="item-row" [innerHTML]="debugData"></div>
				</div>
				
				<div class="workflow-record">
					<app-workflow-inlineview [workflow]="viewWorkflowModel"></app-workflow-inlineview>
				</div>
				<div class="clear"></div>
		    </form>
		    <div class="modal fade" [ngClass]="{'show' : showAssignModal}" tabindex="-1" id="assignlistdialog" role="dialog" aria-labelledby="exampleModalCenterTitle">
				<div class="modal-dialog modal-dialog-centered" role="document">
				    <div class="modal-content user-select-modal-content" >
				      <div class="modal-header">
				        <h5 class="modal-title dialog-title" id="exampleModalLongTitle">{{ 'workflow-select-assign' | translate }}</h5>
				        <button class="dialog-toolbar-button close" (click)="hideAssignSelect()">
				        	<i class="material-icons">close</i>
				        </button>
				      </div>
				      <div class="modal-body">
							<ul class="nav nav-tabs">
							  <li class="active"><a data-toggle="tab" class="nav-link active" href="#tabusers">{{ 'common.users' | translate }}</a></li>
							  <li><a data-toggle="tab" class="nav-link" href="#tabdepartments">{{ 'common.departments' | translate }}</a></li>
							</ul>
							<div class="tab-content tab-body user-select-tab-content">
								<div id="tabusers" class="tab-pane fade in active show">
									<ul class="list-item-container">
										<li class="list-item" *ngFor="let item of users;">
											<input [attr.data-assigntitle]="item.fullName" type="checkbox" #inputEl class="assign-checkbox" [checked]="isItemAssigned(item.identity, assignTypeUser)" (change)="toggleAssign(item.identity, assignTypeUser, inputEl.checked)"  value="{{item.identity}}"/> 
											<span class="user-select-item-label">{{item.fullName}}</span>										
										</li>
									</ul>
								</div>
								<div id="tabdepartments" class="tab-pane fade">
									<ul class="list-item-container">
										<li *ngFor="let dep of departments;" class="list-item">
											<input type="checkbox" [attr.data-assigntitle]="dep.title" #inputEl class="assign-checkbox" [checked]="isItemAssigned(dep.identity, assignTypeDepartment)" (change)="toggleAssign(dep.identity, assignTypeDepartment, inputEl.checked)" value="{{dep.identity}}"/> 
											<span class="user-select-item-label">{{dep.title}}</span>
											<ul class="list-item-container">
												<li *ngFor="let depgrp of dep.departmentGroups;" class="list-item">
													<input type="checkbox" class="assign-checkbox" #inputEl [attr.data-assigntitle]="depgrp.title" [checked]="isItemAssigned(depgrp.identity, assignTypeDepartmentGroup)" (change)="toggleAssign(depgrp.identity, assignTypeDepartmentGroup, inputEl.checked)" value="{{depgrp.identity}}"/> 	 
													<span class="user-select-item-label">{{depgrp.title}}</span>										
												</li>
											</ul>									
										</li>
									</ul>
								
								</div>
							</div>
				      
		    				
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" (click)="hideAssignSelect()"><i class="material-icons">close</i></button>
				        <button type="button" class="btn btn-primary" (click)="applyUserSelect();"><i class="material-icons">check</i></button>
				      </div>
				    </div>
				  </div>		    
		    	
		    </div>
		    		 		
		</div>