@charset "ISO-8859-1";

.message-panel-container {
    height: 170px;
    margin-top: 10px;
    border: 1px solid gray;
    background-color: #fbfbe8;
    position: fixed !important;
    width: 100vw;
    bottom: 30px;
}

.message-panel-toolbar{
	height: 26px;
	background-color: #dadccf;	
	padding-top: 2px;
	padding-right: 10px;
}

.message-panel-toolbar span.title{
	padding-left: 20px;
	font-weight: bold;
	font-size: 14px;
}


.message-panel-toolbar-button{
	border: none;
    background-color: gray;
    color: #f7fbc4;
    padding: 2px;
    border-radius: 13px;
    float: right;
    margin-right: 10px;
}

.message-panel-toolbar-link{
	border: none;
    background-color: gray;
    color: #f7fbc4;
    padding: 5px;
    border-radius: 13px;
    display: inline-block;
}

.message-panel-toolbar-button i.material-icons, .toolbar-link i.material-icons{
	font-size: 16px;
}

.message-panel-items-container{
	height: calc(100% - 30px);
	padding: 4px 4px;
	overflow: auto;
}

.message-panel-items-container .message-panel-item{
	height: 22px;
	line-height: 22px;
	margin: 3px 0;
	background-color: #cafff9;
	padding-left: 15px;
}

.message-panel-items-container .message-panel-item:hover{
	background-color: #caffd3;
}

.message-panel-items-container .message-panel-item a{
	color: gray;
}

.message-panel-items-container .message-panel-item a:hover{
	color: #946b73;
}

