@charset "UTF-8";

div.workflow-content{
	border: 1px solid lightgray;
    margin: 10px 0px;
    border-radius: 10px;
    padding: 10px;
    background-color: #f1f1f1;
}

div.workflow-content div.item-row{
    margin: 5px 0 10px;
}

div.workflow-content div.item-row div.item-label{
    float: left;
    padding-right: 10px;
    padding-left: 2px;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
}

div.workflow-content div.item-row div.item-content{
    float: left;
    padding-right: 10px;
    padding-left: 2px;
}

div.workflow-content div.item-row div.item-content input, 
div.workflow-content div.item-row div.item-content select
{
    width: 400px;
    height: 26px;
}

div.workflow-content div.item-row div.item-content textarea
{
    width: 400px;
    height: 200px;
}

.assign-list{
	border: 1px solid lightgray;
    padding: 6px;
    border-radius: 4px;
    width: 400px;
    min-height: 100px;
    max-height: 200px;
    overflow-y: auto;
    padding-right: 24px;
}

div.assign-list div.user-item-box {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 2px 4px;
    float: left;
    background: #e6e6e6;
    margin-right: 5px;
    margin-bottom: 5px;
}

div.assign-list div.user-item-box button {
    border: none;
    background: transparent;
    padding: 0;
    padding-top: 3px;
    float: right;
    margin-left: 5px;
}

div.assign-list div.user-item-box button i.material-icons{
	font-size: 16px;
}

div.assign-list div.user-item-box span {
    height: 20px;
    display: inline-block;
    float: left;
}

div.assign-list button.show-select-dialog {
    float: right;
    margin-right: -22px;
    width: 22px;
    border: none;
    padding: 0;
    padding-left: 2px;
}

