<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" ng-app="iflowApp" >
    <head>
    	<th:block th:include="layout/mainLayout :: pageheader" />
		<script th:src="@{/js/workflow-create.js}"></script>
		<link th:href="@{/css/table.css}" rel="stylesheet" />
		<link th:href="@{/css/workflow-create.css}" rel="stylesheet" />
    </head>
    <body ng-controller="BodyController">
        <header th:replace="layout/mainLayout :: header" ></header>
        <div th:replace="layout/mainLayout :: breadcrumb" ></div>
		
		<div class="content-container" ng-controller="WorkflowCreateController">
			<div class="page-toolbar">
				<div class="page-title" th:text="#{menu-workflow-create}"></div>
				<button class="toolbar-button" ng-click="save();"><i class="material-icons">save</i></button>
				<a class="toolbar-link" href="/workflow/list"><i class="material-icons">list</i></a>
				<button class="toolbar-button" ng-click="reload();"><i class="material-icons">refresh</i></button>
				<button class="toolbar-button" ng-click="testUpload();"><i class="material-icons">cloud_upload</i></button>
			</div>
		
			<div class="workflow-content">
				<div class="item-row">
					<div class="item-label" th:text="#{workflow-title}"></div>
					<div class="item-content"><input type="text" ng-model="workflowCreateRequest.workflow.title" /></div>
					<div class="clear"></div>
				</div>
				<div class="item-row">
					<div class="item-label" th:text="#{workflow-type}"></div>
					<div class="item-content">
						<select type="text" ng-model="workflowCreateRequest.workflow.workflowTypeId" ng-change="reloadWorkflowTypeData()">
							<option th:text="#{workflow-select-type}" value="0"></option>
							<option ng-repeat="item in workflowTypes" ng-value="item.id">{{item.title}}</option>
						</select>
					</div>
					<div class="clear"></div>
				</div>
				<div class="item-row" ng-if="false" ng-show="isWorkflowTypeSelected()">
					<div class="item-label" th:text="#{workflow-current-step}"></div>
					<div class="item-content">
						<select type="text" ng-model="workflowCreateRequest.workflow.currentStepId">
							<option th:text="#{workflow-select-current-step}" value="0"></option>
							<option ng-repeat="item in getWorkflowTypeSteps()" ng-value="item.id">{{item.title}}</option>
						</select>
					</div>
					<div class="clear"></div>
				</div>
				<div class="item-row" ng-show="isWorkflowTypeSelected()">
					<div class="item-label" th:text="#{common.expiredays}"></div>
					<div class="item-content"><input type="number" max="999" min="1" maxlength="3" ng-model="workflowCreateRequest.expireDays" /></div>
					<div class="clear"></div>
				</div>
				<div class="item-row" ng-show="isWorkflowTypeSelected()">
					<div class="item-label" th:text="#{workflow-controller}"></div>
					<div class="item-content">
						<select type="text" ng-model="workflowCreateRequest.workflow.controller">
							<option th:text="#{workflow-select-controller}" value="0"></option>
							<option ng-repeat="item in users" ng-value="item.id">{{item.fullName}}</option>
						</select>
					</div>
					<div class="clear"></div>
				</div>
				<div class="item-row" ng-show="isWorkflowTypeSelected()">
					<div class="item-label" th:text="#{workflow-assignto}"></div>
					<div class="item-content">
						<div class="assign-list" >
							<button class="show-select-dialog" data-toggle="modal" data-target="#assignlistdialog"><i class="material-icons">playlist_add</i></button>
							<span ng-if="hasNoAssigns()" th:text="#{workflow-select-assign}"></span>
							<div class="user-item-box" ng-repeat="item in workflowCreateRequest.assigns">
								<span>{{item.title}} </span>
								<button ng-click="removeAssign(item.itemId, item.itemType)"><i class="material-icons">close</i></button>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="item-row" ng-show="isWorkflowTypeSelected()">
					<div class="item-label" th:text="#{workflow-comments}"></div>
					<div class="item-content">
						<textarea ng-model="workflowCreateRequest.workflow.comments"></textarea>
					</div>
					<div class="clear"></div>
				</div>
				<div class="item-row" ng-show="isWorkflowTypeSelected()">
					<div class="item-label" th:text="#{workflow-files}"></div>
					<div class="item-content file-container">
						<div ng-repeat="file in fileTitles" class="file-row">
							{{$index + 1}}.
							<input type="text" class="file-item file-title" placeholder="Datei Titel" ng-model="file.title"/>
							<input type="file" class="file-item file-file" file-model="file.file"/>
							<button class="file-action" ng-click="removeFile($index)"><i class="material-icons">delete</i></button>
							<div class="clear"></div>
						</div>
						<div style="margin-top: 20px;">
							<button class="file-action" ng-click="addFile()"><i class="material-icons">add</i></button>
							<div class="clear"></div>
						</div>
						
					</div>
					<div class="clear"></div>
				</div>
				
				<div class="item-row">
					{{workflowCreateRequest}}
				</div>
				<div class="item-row">
					{{getAssignedTest()}}
				</div>
			</div>
		    
		    <div class="modal fade" tabindex="-1" id="assignlistdialog" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title dialog-title" id="exampleModalLongTitle" th:text="#{workflow-select-assign}"></h5>
				        <button class="dialog-toolbar-button close"  data-dismiss="modal" aria-label="Close">
				        	<i class="material-icons">close</i>
				        </button>
				      </div>
				      <div class="modal-body">
							<ul class="nav nav-tabs">
							  <li class="active"><a data-toggle="tab" class="nav-link active" href="#tabusers" th:text="#{common.users}"></a></li>
							  <li><a data-toggle="tab" class="nav-link" href="#tabdepartments" th:text="#{common.departments}"></a></li>
							</ul>
							<div class="tab-content tab-body">
								<div id="tabusers" class="tab-pane fade in active">
									<ul class="list-item-container">
										<li ng-repeat="item in users" class="list-item">
											<input data-assigntitle="{{item.fullName}}" type="checkbox" class="assign-checkbox" th:data-assigntype="${UserAssign}" ng-value="item.id"/> 
											&nbsp; &nbsp; 
											{{item.fullName}}										
										</li>
									</ul>
								</div>
								<div id="tabdepartments" class="tab-pane fade">
									<ul class="list-item-container">
										<li ng-repeat="dep in departments" class="list-item">
											<input type="checkbox" data-assigntitle="{{dep.title}}" class="assign-checkbox" th:data-assigntype="${DepartmentAssign}" ng-value="dep.id"/> 
											&nbsp; &nbsp; 
											{{dep.title}}	
											<ul class="list-item-container">
												<li ng-repeat="depgrp in dep.departmentGroups" class="list-item">
													<input type="checkbox" class="assign-checkbox" data-assigntitle="{{depgrp.title}}" th:data-assigntype="${DepartmentGroupAssign}" ng-value="depgrp.id"/> 
													&nbsp; &nbsp; 
													{{depgrp.title}}										
												</li>
											</ul>									
										</li>
									</ul>
								
								</div>
							</div>
				      
		    				
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="material-icons">close</i></button>
				        <button type="button" class="btn btn-primary" ng-click="applyUserSelect();"><i class="material-icons">check</i></button>
				      </div>
				    </div>
				  </div>		    
		    	
		    </div>
		    
		    
		    <script type="text/javascript">
			var loadUrl = "/workflow/data/workflowcreate/init";
			var loadWorkflowTypeDataUrl = "/workflow/data/workflowcreate/typedata/";
			var saveUrl = "/workflow/data/workflowcreate/create";
			var saveFileUrl = "/workflow/data/workflowcreate/file";
			var listUrl = "/workflow/list";
			
		    </script>
		
		
		</div>
		
        <div th:replace="layout/message_panel :: message_panel" ></div>
		
        <footer th:replace="layout/footer :: footer" ></footer>
    </body>
</html>
