<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" ng-app="iflowApp" >
    <head>
    	<th:block th:include="layout/mainLayout :: pageheader" />
		<script th:src="@{/js/workflow-list.js}"></script>
		<link th:href="@{/css/table.css}" rel="stylesheet" />
    </head>
    <body ng-controller="BodyController">
        <header th:replace="layout/mainLayout :: header" ></header>
        <div th:replace="layout/mainLayout :: breadcrumb" ></div>
		
		<div class="content-container" ng-controller="WorkflowTypesController">
			<div class="page-toolbar">
				<div class="page-title" th:text="#{menu-workflow-list}"></div>
				<button class="toolbar-button" ng-click="reload();"><i class="material-icons">refresh</i></button>
				<a class="toolbar-link" href="/workflow/create"><i class="material-icons">playlist_add</i></a>
			</div>
		
		    <table class="iflow-table">
		    	<thead>
		    		<tr>
		    			<th>ID</th>
		    			<th>Type</th>
		    			<th>Step</th>
		    			<th>Title</th>
		    			<th>Status</th>
		    			<th>Created By</th>
		    			<th>Assign</th>
		    		</tr>
		    	</thead>
		    	<tbody>
		     		<tr ng-repeat="item in items">
		    			<th>{{item.id}}</th>
		    			<td>{{item.workflowType.title}}</td>
		    			<td>{{item.currentStep.title}}</td>
		    			<td>{{item.title}}</td>
		    			<td>{{item.status}}</td>
		    			<td>{{item.createdBy}}</td>
		    			<td>{{item.assignTo}}</td>
		    		</tr>
		     		
		    	
		    	</tbody>
		    </table>
		    
		    <script type="text/javascript">
				var loadInitialUrl = "/workflow/data/workflowlist/init";
				var loadUrl = "/workflow/data/workflowlist/search";
		    </script>
		
		
		</div>
		
        <footer th:replace="layout/footer :: footer" ></footer>
    </body>
</html>
