		<div class="content-container">
			<div class="page-toolbar">
				<div class="page-title">{{ 'menu-workflow-create' | translate }}</div>
				<a class="toolbar-link" href="/workflow/list"><i class="material-icons">list</i></a>
			</div>
		
			<div class="workflow-content">
				<div class="item-row">
					<div class="item-label">{{ 'common.expiredays' | translate }}</div>
					<div class="item-content"><input type="number" max="999" min="1" maxlength="3" [(ngModel)]="expireDays" /></div>
					<div class="clear"></div>
				</div>
				<div class="item-row">
					<div class="item-label">{{ 'workflow-controller' | translate }}</div>
					<div class="item-content">
						<select type="text" [(ngModel)]="controllerIdentity">
							<option value="0">{{ 'workflow-select-controller' | translate }}</option>
							<option *ngFor="let user of users;" value="{{user.identity}}">{{user.fullName}}</option>
						</select>
					</div>
					<div class="clear"></div>
				</div>
				<div class="item-row">
					<div class="item-label">{{ 'workflow-assignto' | translate }}</div>
					<div class="item-content">
						<div class="assign-list" >
							<button class="show-select-dialog" data-toggle="modal" data-target="#assignlistdialog"><i class="material-icons">playlist_add</i></button>
							<span *ngIf="hasNoAssigns">{{ 'workflow-select-assign' | translate }}</span>
							<div class="user-item-box" *ngFor="let item of assignedUsers">
								<span>{{item.title}} </span>
								<button (click)="removeAssign(item.itemIdentity, item.itemType)"><i class="material-icons">close</i></button>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="item-row">
					<div class="item-label">{{ 'workflow-comments' | translate }}</div>
					<div class="item-content">
						<textarea [(ngModel)]="comments"></textarea>
					</div>
					<div class="clear"></div>
				</div>
				<div class="item-row">
					<div class="item-label">{{ 'workflow-files' | translate }}</div>
					<div class="item-content file-container">
						<div *ngFor="let file of fileTitles; let fileIndex = index" class="file-row">
							{{fileIndex + 1}}.
							<input type="text" class="file-item file-title" placeholder="Datei Titel" [(ngModel)]="file.title"/>
							<input type="file" class="file-item file-file" file-model="file.file"/>
							<button class="file-action" (click)="removeFile(fileIndex)"><i class="material-icons">delete</i></button>
							<div class="clear"></div>
						</div>
						<div style="margin-top: 20px;">
							<button class="file-action" (click)="addFile()"><i class="material-icons">add</i></button>
							<div class="clear"></div>
						</div>
						
					</div>
					<div class="clear"></div>
				</div>
				<div class="item-row">
					
					<div class="item-content workflow-step-button-bar">
						<button (click)="save()" class="button-bar-button step-button button-save">
							<span>{{ 'common.save' | translate }}</span>
							<i class="material-icons">save</i>
						</button>
						<div class="clear"></div>
					</div>
					
				</div>
				<div class="item-row">
					{{ debugData}}
				</div>

			</div>
		    
		    <div class="modal fade" tabindex="-1" id="assignlistdialog" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title dialog-title" id="exampleModalLongTitle">{{ 'workflow-select-assign' | translate }}</h5>
				        <button class="dialog-toolbar-button close"  data-dismiss="modal" aria-label="Close">
				        	<i class="material-icons">close</i>
				        </button>
				      </div>
				      <div class="modal-body">
							<ul class="nav nav-tabs">
							  <li class="active"><a data-toggle="tab" class="nav-link active" href="#tabusers">{{ 'common.users' | translate }}</a></li>
							  <li><a data-toggle="tab" class="nav-link" href="#tabdepartments">{{ 'common.departments' | translate }}</a></li>
							</ul>
							<div class="tab-content tab-body">
								<div id="tabusers" class="tab-pane fade in active">
									<ul class="list-item-container">
										<li class="list-item" *ngFor="let item of users;">
											<input [attr.data-assigntitle]="item.fullName" type="checkbox" class="assign-checkbox" [checked]="isItemAssigned(item.identity, assignTypeUser)" [attr.data-assigntype]="assignTypeUser" value="{{item.identity}}"/> 
											&nbsp; &nbsp; 
											{{item.fullName}}										
										</li>
									</ul>
								</div>
								<div id="tabdepartments" class="tab-pane fade">
									<ul class="list-item-container">
										<li *ngFor="let dep of departments;" class="list-item">
											<input type="checkbox" [attr.data-assigntitle]="dep.title" class="assign-checkbox" [checked]="isItemAssigned(dep.identity, assignTypeDepartment)" [attr.data-assigntype]="assignTypeDepartment" value="{{dep.identity}}"/> 
											&nbsp; &nbsp; 
											{{dep.title}}	
											<ul class="list-item-container">
												<li *ngFor="let depgrp of dep.departmentGroups;" class="list-item">
													<input type="checkbox" class="assign-checkbox" [attr.data-assigntitle]="depgrp.title" [checked]="isItemAssigned(depgrp.identity, assignTypeDepartmentGroup)" [attr.data-assigntype]="assignTypeDepartmentGroup" value="{{depgrp.identity}}"/> 
													&nbsp; &nbsp; 
													{{depgrp.title}}										
												</li>
											</ul>									
										</li>
									</ul>
								
								</div>
							</div>
				      
		    				
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="material-icons">close</i></button>
				        <button type="button" class="btn btn-primary" (click)="applyUserSelect();"><i class="material-icons">check</i></button>
				      </div>
				    </div>
				  </div>		    
		    	
		    </div>
		    		 		
		</div>