		<div class="content-container">
			<div class="page-toolbar">
				<div class="page-title">{{ 'menu-workflow-create' | translate }}</div>
				<a class="toolbar-link" [routerLink]="['/workflow/list']"><i class="material-icons">list</i></a>
			</div>
		
			<div class="workflow-content">
				<div class="item-row">
					<div class="item-label">{{ 'common.expiredays' | translate }}</div>
					<div class="item-content"><input type="number" max="999" min="1" maxlength="3" [(ngModel)]="expireDays" /></div>
					<div class="clear"></div>
				</div>
				<div class="item-row">
					<div class="item-label">{{ 'workflow-controller' | translate }}</div>
					<div class="item-content">
						<select [(ngModel)]="controllerIdentity">
							<option value="0">{{ 'workflow-select-controller' | translate }}</option>
							<option *ngFor="let user of users;" value="{{user.identity}}">{{user.fullName}}</option>
						</select>
					</div>
					<div class="clear"></div>
				</div>
				<div class="item-row">
					<div class="item-label">{{ 'workflow-assignto' | translate }}</div>
					<div class="item-content">
						<div class="assign-list" >
							<button class="show-select-dialog" (click)="showAssignSelect()"><i class="material-icons">playlist_add</i></button>
							<span *ngIf="hasNoAssigns">{{ 'workflow-select-assign' | translate }}</span>
							<div class="user-item-box" *ngFor="let item of assignedUsers">
								<span>{{getAssignItemTitle(item)}} </span>
								<button (click)="removeAssign(item.itemIdentity, item.itemType)"><i class="material-icons">close</i></button>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="item-row">
					<div class="item-label">{{ 'workflow-comments' | translate }}</div>
					<div class="item-content">
						<textarea [(ngModel)]="comments"></textarea>
					</div>
					<div class="clear"></div>
				</div>
				<div class="item-row">
					<div class="item-label">{{ 'common.attachments' | translate }}</div>
					<div class="item-content">
						<app-wm-file-upload [ocrScanningEnabled]="false" [editService]="editService" [showHeaderTitle]="false" 
						(onUploadedFilesChanged)="onUploadedFilesChanged($event)" [drawBorder]="true" > </app-wm-file-upload>
					</div>
					<div class="clear"></div>
					
				</div>
				<div class="item-row">
					
					<div class="item-content workflow-step-button-bar">
						<button (click)="save()" class="button-bar-button step-button button-save">
							<span>{{ 'common.save' | translate }}</span>
							<i class="material-icons">save</i>
						</button>
						<div class="clear"></div>
					</div>
					
				</div>
				        				
				<div class="item-row" [innerHTML]="debugData">
				</div>

			</div>
		    
		</div>

		<app-select-user [users]="(generalDataObs | async)?.company.users" [departments]="(generalDataObs | async)?.company.departments" 
			[showAssignModal]="showAssignModal" [selectAssign]="selectAssign" (onUsersSelected)="onUsersSelected($event)"></app-select-user>		    		 		

		    		 		
		