
<div class="row scanned-item-container">
	<div class="scanned-item-list-container">
		<div class="list-group" id="list-tab" role="tablist">
			<div class="list-group-item disabled">{{ 'invoice-scanned-properties' | translate }}</div>
			<a class="list-group-item list-group-item-action scanned-item" *ngFor="let key of keys;" (click)="selectDetailItem(key)" 
				data-toggle="list" href="#{{key}}">{{ propertyLabels[key] }}</a>
		</div>
  
	</div>
	<div class="scanned-item-detail-container">
		
		<div *ngFor="let key of keys;" class="tab-pane fade word-list-item" id="{{key}}" role="tabpanel" aria-labelledby="list-home-list">
			<h3>{{ propertyLabels[key] }}</h3>
			
			<div class="list-group" id="list-tab" role="tablist">
				<a class="list-group-item list-group-item-action scanned-item found-item" *ngFor="let foundWord of foundWords[key];" 
					(click)="selectFoundWord(foundWord)" >
				{{ foundWord.text }} : {{ foundWord.value.text }}
				</a>
			</div>
			
		</div>
	</div>  
	<div class="scanned-item-preview-container">
		
		<pdf-viewer *ngIf="fileIsPdf" [src]="fileViewUrl" #scannedItemPreviewContainer useBrowserLocale="true" [zoom]="pdfZoom" [show-all]="showAllPages" [page]="pdfPageIndex" height="99%"></pdf-viewer>

		<div *ngIf="fileIsImage" id="scannedItemPreviewContainer" #scannedItemPreviewContainer class="scanned-item-preview-image" [style.width.px]="previewWidth"
			 [style.backgroundImage]="fileViewUrl" ></div>
		 
		<div class="selected-word-area" *ngIf="showSelectedArea" [style.width.px]="selectedAreaWidth" [style.height.px]="selectedAreaHeight" 
		 [style.left.px]="selectedAreaLeft" [style.top.px]="selectedAreaTop"></div> 
	</div>  

</div>  

