		<div class="content-container">
			<div class="page-toolbar">
				<div class="page-title">{{ 'menu-workflow-list' | translate:param }}</div>
				<button class="toolbar-button" (click)="reload()"><i class="material-icons">refresh</i></button>
				<a class="toolbar-link" href="/workflow/create"><i class="material-icons">playlist_add</i></a>
				
				<ul class="nav nav-pills search-toolbar">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Status</a>
						<div class="dropdown-menu">
							<div *ngFor="let wstatus of statusList;" class="dropdown-item">
								<input type="checkbox" class="form-check-input" [checked]="isStatusSelected(wstatus)" (click)="toggleStatusSelected(wstatus)"  id="status-check-{{wstatus}}">
								<label class="form-check-label" for="status-check-{{wstatus}}">{{wstatus}}</label>
							</div>
						</div>
					</li>
				  	<li class="nav-item">
				  		<div class="dropdown-item search-toolbar-item">
							<input type="checkbox" class="toggle-checkbox form-check-input" [checked]="isMeAssigned" [(ngModel)]="isMeAssigned"  id="me-assigned-check">
							<label class="form-check-label" for="me-assigned-check">{{ 'workflow-assigned-me' | translate:param }}</label>
						</div>
				  	</li>
				</ul>				
								
			</div>
			<div style="border: 1px solid gray; padding: 5px; background-color: #f1f1f1;">{{debugSearchFilter}}</div>
			
		    <table class="table table-bordered table-responsive iflow-table">
		    	<thead class="thead-dark">
		    		<tr>
		    			<th scope="col">{{ 'workflow-type' | translate:param }}</th>
		    			<th scope="col">{{ 'workflow-current-step' | translate:param }}</th>
		    			<th scope="col">{{ 'workflow-status' | translate:param }}</th>
		    			<th scope="col">{{ 'workflow-assignto' | translate:param }}</th>
		    			<th scope="col"></th>
		    		</tr>
		    	</thead>
		    	<tbody>
		     		<tr *ngFor="let item of resultWorlflows;">
		    			<td scope="row">{{item.workflowType.title}}</td>
		    			<td>{{item.currentStep.title}}</td>
		    			<td>{{item.status}}</td>
		    			<td>{{item.assignToUserFullName}}</td>
		    			<td><a class="tool-link" [routerLink]="['/workflow/edit/' + item.workflowType.identity + '/' + item.identity + '/' + item.currentStep.identity]"><i class="material-icons">edit</i></a></td>
		    		</tr>
		     		
		    	
		    	</tbody>
		    </table>
		    
		    <div style="min-height: 20px; border: 1px solid gray; ">
		    {{searchFilter}}
		    </div>
		    
		    <script type="text/javascript">
				var loadInitialUrl = "/workflow/general/data/initsearch";
				var loadUrl = "/workflow/general/data/search";
		    </script>
		
		
		</div>

