<!DOCTYPE html>
<html lang="en">
  <head>
    <title tiles:fragment="title" th:text="#{site.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    
    <link rel="shortcut icon" th:href="@{/images/icon.png}">
    
    <link th:href="@{/css/workflow-view-dialog.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/build.css}">
    
	<base href="/" />

    
</head>
  <body>		
    <app-root></app-root>
  </body>
   <script th:src="@{/js/moment.js}"></script>
</html>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->